.accordion {
  &__primary {
    background: #007bff;
    color: #fff;
  }

  &__default {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__small {
    border-radius: 4px;
    //background: var(--global-01-primary, #007BFF);
    padding: 4px 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  &__large {
    padding: 8px 16px;
    border-radius: 4.8px;
  }
}
