@import "@/styles/vars";
.Card {
  &__top {
    border-radius: 4px 4px 0 0;
    background: $color-dark;
    padding-top: ToRem(32);
  }

  &__body {
    &-title {
      font-family: $font-family;
    }
  }

  &__titles {
    color: #05e6f2;

    & > * {
      font-family: $font3 !important;
    }

    & > * + * {
      margin-top: ToRem(3) !important;
    }
  }

  &__title {
    background: rgba(45, 156, 219, 0.28);
    border-radius: ToRem(2);
    padding: ToRem(4) ToRem(8);
    text-shadow: 0 ToRem(4) ToRem(4) rgba(0, 0, 0, 0.25);
    color: $color-white !important;

    &--light {
      font-family: $third-family;
      color: #4f4f4f !important;
    }
  }

  &__illustrator {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__subtitle {
    background: rgba(13, 64, 89, 0.35);
    color: inherit !important;
    padding: ToRem(6) ToRem(8) ToRem(3);

    &--light {
      font-family: $font-family;
      color: #4f4f4f !important;
    }
  }

  &__view {
    &-light {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
      background: $color-white;

      .Card__body {
        & > * + * {
        }
      }
    }
  }
}
